{% extends 'lateral_bar.html' %}
{% load static from staticfiles %}
{% load crispy_forms_tags %}
{% load newtag %}

{% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>║TRUST EAT║ {{ local.nome_locale }}</title>

{% endblock head %}

{% block body %}

    <div class="wrapper">
        <!-- Sidebar Holder -->
        <nav id="sidebar">
            {% if request.user.is_utente %}
                <div class="sidebar-header">
                    <h3>Il tuo ordine:</h3>
                </div>

                <ul class="list-unstyled components">
                    <li>
                        <a href="#pageSubmenuProdotti" data-toggle="collapse" aria-expanded="false"
                           class="dropdown-toggle">
                            Prodotti
                        </a>
                        <ul class="collapse list-unstyled rounded-bottom" id="pageSubmenuProdotti"
                            style="background-color:#700008">
                            {% for prod in prod_ordine %}
                                {% if prod.num_obj > 0 %}
                                    <li>
                                        <div class="row" style="font-size: 75%">
                                            <div class="col-5 ml-1">
                                                {{ prod.prodotto.nome_prodotto }}
                                            </div>
                                            <div class="col-3">
                                                x {{ prod.num_obj }}
                                            </div>
                                            <div class="col mr-1">
                                                {% multiply prod.prodotto.prezzo prod.num_obj %}&nbsp;&euro;
                                            </div>
                                        </div>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </li>
                    <li>
                        <a href="#pageSubmenuMenu" data-toggle="collapse" aria-expanded="false"
                           class="dropdown-toggle">
                            Menu
                        </a>
                        <ul class="collapse list-unstyled rounded-bottom" id="pageSubmenuMenu"
                            style="background-color:#700008">
                            {% for menu in menu_ordine %}
                                {% if menu.num_obj > 0 %}
                                    <li>
                                        <div class="row" style="font-size: 75%">
                                            <div class="col-5 ml-1">
                                                {{ menu.menu.nome_menu }}
                                            </div>
                                            <div class="col-3">
                                                x {{ menu.num_obj }}
                                            </div>
                                            <div class="col mr-1">
                                                {% multiply menu.menu.prezzo menu.num_obj %}&nbsp;&euro;
                                            </div>
                                        </div>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
                <ul style="font-size: 85%;"> Costo di spedizione: &nbsp; {{ local.prezzo_di_spedizione }}&nbsp;&euro;
                </ul>
                {% if num_obj %}
                    <div class="ml-3">
                        &nbsp;Totale ordine: &nbsp;&nbsp;&nbsp;<span style="font-size: 110%; ">{% total_price %}&nbsp;&euro; </span>
                    </div>
                    <ul class="list-unstyled CTAs">
                        <li><a href='{% url 'order:check' %}' class="article">Procedi con l'ordine</a>
                        </li>
                    </ul>
                {% endif %}
            {% elif request.user.id in dealers_id %}
                <div class="sidebar-header">
                    <h3>Il tuo locale:</h3>
                </div>
                <div class="list-unstyled components ml-3 text-center">

                    <a href="{% url 'order:list_order' local.cod_locale %}"
                       class="btn btn-light btn-lg mb-5 "
                       role="button" aria-disabled="true"><b>Gestisci gli ordini</b>
                    </a>

                    <a href="{% url 'localManagement:edit_local' local.cod_locale %}"
                       class="btn btn-warning btn-lg mb-5 "
                       role="button" aria-disabled="true"><b>Modifica il locale</b>
                    </a>

                    <a href="{% url 'localManagement:products_list' local.cod_locale %}"
                       class="btn btn-outline-warning btn-lg mt-4 mb-2 "
                       role="button" aria-disabled="true"><b>Modifica i prodotti</b>
                    </a>
                    <a href="{% url 'localManagement:menu_list' local.cod_locale %}"
                       class="btn btn-outline-warning btn-lg mb-5"
                       role="button" aria-disabled="true"><b>Modifica i menu</b>
                    </a>
                    <a href="{% url 'localManagement:delete_local' local.cod_locale %}"
                       class="btn btn-outline-warning mt-5"
                       role="button" aria-disabled="true">Elimina il locale
                    </a>
                </div>
            {% endif %}

            <p class="text-center mt-2 pt-4" style="font-size: 85%">
                by: <br>
                {% for dealer in dealers %}
                    {{ dealer.first_name | capfirst }} {{ dealer.last_name | capfirst }} <br>
                {% endfor %}
            </p>
        </nav>

        <!-- Page Content -->
        <div id="content">
            <div class="mx-lg-5 mb-0">
                <div class="row">
                    <div class="col-lg container">
                        {# ------------------------ Start Nome Locale ------------------------------------------------#}
                        <div class="container-fluid mt-0 text-warning rounded-bottom"
                             style="background-color: #a01b2a">
                            <div class="row">
                                <div class="col-3">
                                    <button type="button" id="sidebarCollapse" class="navbar-btn rounded">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </button>
                                </div>
                                <div class="col-8 pl-2 mx-1">
                                    <h1 align="left">{{ local.nome_locale|upper }}</h1>
                                </div>
                            </div>
                        </div>
                        {# ------------------------ End Nome Locale --------------------------------------------------#}

                        {# ------------------------ Start Prodotti ---------------------------------------------------#}
                        <div class="card text-center mt-3 mb-4 shadow" style=" max-height: 40%">
                            <div class="card-header text-light m-0 p-0">
                                <blockquote class="blockquote text-center">
                                    <p class="m-0 p-0" style="font-size: 120%;">PRODOTTI</p>
                                </blockquote>
                            </div>
                            <div class="card-body m-0 p-0"  style=" max-height:300px ">
                                <div class="card-text">
                                    <table class="table-responsive p-0 m-0 align-content-center table-striped">
                                        {% for x in prod_list %}
                                            <form action="" method="post">
                                                <tr>
                                                    <td class="px-1 pt-3 pb-0">
                                                        {% csrf_token %}
                                                        {{ x.form|crispy }}
                                                    </td>
                                                    <td>
                                                        <button class="btn btn-danger p-0 pb-5 text-center align-top align-text-top"
                                                                style="font-size: 200%; width: 40px; height: 30px;"
                                                                type="submit">
                                                            <b>+</b>
                                                        </button>
                                                    </td>
                                                    <td class="px-1" style="width:100% ">
                                                        <div class="food font-weight-bold">{{ x.product.nome_prodotto }} </div>
                                                        <div class="desc p-0 m-0 font-italic">{{ x.product.descrizione_prodotto }} </div>
                                                    </td>

                                                    <td style=" width:80px ">
                                                        {% if x.product.foto_prodotto.url != "" %}
                                                            <img src="{{ x.product.foto_prodotto.url }}" alt=""
                                                                 height="70px" width="70px"
                                                                 style="object-fit: fill; border: solid 1px;"
                                                                 class="rounded-circle"/>
                                                        {% endif %}
                                                    </td>
                                                    <td class="px-1">
                                                        <div> {{ x.product.prezzo }}&nbsp;&euro;</div>
                                                    </td>
                                                </tr>
                                            </form>
                                        {% endfor %}
                                    </table>
                                </div>
                            </div>
                        </div>
                        {# ------------------------ End Prodotti -----------------------------------------------------#}
                        {# ------------------------ Start Menu -------------------------------------------------------#}
                        <div class="card text-center mt-3 mb-4 shadow"
                             style="background-color: #878787; max-height: 40%">
                            <div class="card-header text-light m-0 p-0">
                                <blockquote class="blockquote text-center">
                                    <p class="m-0 p-0" style="font-size: 120%;">MENU</p>
                                </blockquote>
                            </div>
                            <div class="card-body m-0 p-0" style=" max-height:300px">
                                <div class="card-text">
                                    <table class="table-responsive p-0 m-0 align-content-center table-striped">
                                        {% for x in  menu_list %}
                                            <form action="" method="post">
                                                <tr>
                                                    <td class="px-1 pt-3 pb-0">
                                                        {% csrf_token %}
                                                        {{ x.form|crispy }}
                                                    </td>
                                                    <td>
                                                        <button class="btn btn-danger p-0 pb-5 text-center align-top align-text-top"
                                                                style="font-size: 200%; width: 40px; height: 30px;"
                                                                type="submit">
                                                            <b>+</b>
                                                        </button>
                                                    </td>
                                                    <td class="px-1" style="width:100% ">
                                                        <div class="food font-weight-bold">{{ x.menu.nome_menu }} </div>
                                                        <div class="desc p-0 m-0 font-italic">{{ x.menu.descrizione_menu }} </div>
                                                        <div class="desc p-0 m-0 font-italic">{{ x.composto_da }}  </div>
                                                    </td>
                                                    <td class="px-1">
                                                        <div>
                                                            {{ x.menu.prezzo }}&nbsp;&euro;
                                                        </div>
                                                    </td>
                                                </tr>
                                            </form>
                                        {% endfor %}
                                    </table>
                                </div>
                            </div>
                        </div>
                        {# ------------------------ End Menu -------------------------------------------------------- #}
                    </div>
                    {# ----------------------------------- Start colonna 2 ------------------------------------------ #}
                    <div class="col-lg container pt-3">
                        {# ------------------------------- Start Info Locale ---------------------------------------- #}
                        <div class="card text-center mb-1 shadow">
                            <div class="card-header text-light m-0 p-0">
                                <blockquote class="blockquote text-center">
                                    <p class="mb-0 p-0 pt-1">{{ local.descrizione }}</p>
                                </blockquote>
                            </div>
                            <div class="card-body rounded m-0 p-0 pt-1">
                                <p class="card-text" style="color: #212529">
                                    Aperto dalle {{ local.orario_apertura|time:"G:i" }}
                                    alle {{ local.orario_chiusura|time:"G:i" }} <br>
                                    {% if local.chiusura_set.count > 0 %}
                                        Chiude il
                                        {% for x in local.chiusura_set.all %}
                                            {% if not local.chiusura_set.last == x %}
                                                {{ x.giorno_chiusura }},
                                            {% else %}
                                                {{ x.giorno_chiusura }}
                                            {% endif %}
                                        {% endfor %}
                                    {% else %}
                                        Aperto 7 giorni su 7
                                    {% endif %}
                                    <br>
                                    Si trova in &emsp14; {{ local.via }}, {{ local.num_civico }} &emsp14; a
                                    &emsp14; {{ location.nome_localita }}
                                    ({{ location.cap }})
                                </p>
                                <p class="m-0" style="color: #212529">CONTATTI</p>
                                {% if local.telefono %}
                                    Telefono:
                                    <a class="text-primary" href='tel:{{ local.telefono }}'> {{ local.telefono }}</a>
                                    <br>
                                {% endif %}
                                {% if local.sito_web %}
                                    Sito web:
                                    <a class="text-primary" href='{{ local.sito_web }}'>{{ local.sito_web }} </a><br>
                                {% endif %}
                                {% if local.email %}
                                    Email:
                                    <a class="text-primary" href='mailto:{{ local.email }}'>{{ local.email }}</a><br>
                                {% endif %}
                            </div>
                            <div class="card-footer rounded-0 m-0 p-0">
                                <a href="{% url 'localManagement:votes' local.pk %}"
                                   class="text-dark">
                                    <p class="text-light">Voto: {{ vote.avg }} su {{ vote.count }} recensioni</p>
                                </a>
                            </div>
                        </div>
                        {# ------------------------------- End Info Locale ------------------------------------------ #}
                        {# ------------------------------- Start Carousel Foto Locale ------------------------------- #}
                        <div class="mb-0 mt-3">
                            {% if photo_len > 0 %}
                                <div id="carouselIndicators" class="carousel slide" data-ride="carousel">
                                    <ol class="carousel-indicators">
                                        {% for  img in photo_list %}
                                            {% if img.pos == 0 %}
                                                <li data-target="#carouselIndicators" data-slide-to="0"
                                                    class="active"></li>
                                            {% else %}
                                                <li data-target="#carouselIndicators" data-slide-to="{{ pos }}"></li>
                                            {% endif %}
                                        {% endfor %}
                                    </ol>
                                    <div class="carousel-inner">
                                        {% for  img in photo_list %}
                                            {% if img.pos == 0 %}
                                                <div class="carousel-item active">
                                                    {% if img.pic.foto_locale %}
                                                        <img class="d-block w-100 rounded shadow" alt=""
                                                             style="max-height: 250px; object-fit: cover"
                                                             src="{{ img.pic.foto_locale.url }}/?auto=yes&bg={{ img.upp }}&fg={{ img.low }}">
                                                    {% endif %}
                                                </div>
                                            {% else %}
                                                <div class="carousel-item">
                                                    {% if img.pic.foto_locale %}
                                                        <img class="d-block w-100 rounded shadow" alt=""
                                                             style="max-height: 250px; object-fit: cover"
                                                             src="{{ img.pic.foto_locale.url }}/?auto=yes&bg={{ img.upp }}&fg={{ img.low }}">
                                                    {% endif %}
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                    <a class="carousel-control-prev" href="#carouselIndicators" role="button"
                                       data-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="carousel-control-next" href="#carouselIndicators" role="button"
                                       data-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>
                            {% endif %}
                        </div>
                        {# ------------------------- End Carousel Foto Locale ----------------------------------------#}
                    </div>
                    {# ----------------------------- End colonna 2 ---------------------------------------------------#}
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
