{% extends 'base.html' %}
{% load static from staticfiles %}
{% block head %}
    <title>TRUST EAT</title>
    <script src="{% static 'js/functions.js' %}"></script>
{% endblock head %}

{% block body %}
    <script>autoReload(10000)</script>

    <div class="container">
        <a href="{% url 'localManagement:localLists' locale.pk %}" style="color: #a01b2a">
            <div class="container-fluid mt-0 pb-1 text-warning rounded-bottom link-disabled shadow"
                 style="background-color: #a01b2a">
                <h1 align="center">{{ locale.nome_locale|upper }}</h1>
            </div>
        </a>
        <div class="card text-center mt-3 shadow">
            <div class="card-header text-light">
                <h2>{{ messaggio }}</h2>
            </div>
            <div class="card-body">
                Tra 10 secondi sarai automaticamente rediretto alla home<br>
                <a href="{% url 'localManagement:products_list' locale.pk %}"> {{ url }} </a>
            </div>
            <div class="card-footer"></div>
        </div>
        <a href="/">
            <img src="{% static 'img/logo-trustEat/_logo1.png' %}" width="600" alt="TRUST EAT"
                 style="object-fit: scale-down; " class="mt-5 pl-5 ml-5 "/>
        </a>
    </div>
{% endblock body %}
