{% extends "base.html" %}
{% load static from staticfiles %}

{% block body %}
    <h2>{{ messaggio }}</h2>
    <br/><br/>
    <body onload="autoReload()">

        <div align="center">
            Tra 10 secondi sarai automaticamente rediretto alla home
            <a href="{% url 'localManagement:products_list' cl %}"> {{ url }} </a>
        </div>
        <br/><br/><br/><br/><br/><br/>
        <a href="/">
            <img src="{% static 'img/logo-trustEat/logo.png' %}" alt="TRUST EAT" height="300" style="object-fit: scale-down"/>
        </a>

    </body>
    <script type="text/javascript" language="JavaScript">
        function autoReload() {
            var timeID = setTimeout("location.href= '/'", 10000)
        }
    </script>
{% endblock body %}