<!DOCTYPE html>
{% extends 'base.html' %}
{% load static from staticfiles %}
{% load crispy_forms_tags %}
<link rel="stylesheet" href="{% static 'css/localList.css' %}">
<link rel="stylesheet" href="{% static 'css/card.css' %}">

<html>
{% block head %}
    <meta charset="UTF-8">
    <title>{{ local.nome_locale }} | recensioni </title>
{% endblock %}

{% block body %}
    <div class="container">

        <div class="row">
            <div class="col-lg align-self-start ">
                {# ------------------------ Start Nome Locale ------------------------------------------------------- #}
                <a href="{% url 'localManagement:localLists' local.pk %}" style="color: #a01b2a">
                    <div class="container-fluid mt-0 pb-1 text-warning rounded-bottom link-disabled shadow"
                         style="background-color: #a01b2a">
                        <h1 align="center">{{ local.nome_locale|upper }}</h1>
                    </div>
                </a>
                {# ------------------------ End Nome Locale --------------------------------------------------------- #}
            </div>
        </div>

        {# ------------------------ Start recensioni --------------------------------------------------------- #}
        <div class="card text-center mt-2 mb-2 shadow" style="max-height: 70%">
            <div class="card-header text-light m-0 p-0">
                <blockquote class="blockquote text-center">
                    <p class="m-0 p-0" style="font-size: 120%;">RECENSIONI</p>
                </blockquote>
            </div>
            <div class="card-body m-0 p-0" >
                <div class="card-text" style=" height:200px ;overflow-y: auto">
                    <table class="table-responsive p-0 m-0 align-content-center table-striped">
                        {% for rec in vote %}
                            {% if rec.voto is not None %}
                                <tr style="border: darkgray solid 1px">
                                    <td style="width: 70px; font-size: 200%;color: darkgoldenrod"
                                        class="px-2">
                                        {{ rec.voto }}
                                    </td>
                                    <td style="min-width: 70%; max-width: 70%">
                                        {% if rec.descrizione is not None %}
                                            {{ rec.descrizione }}
                                        {% endif %}
                                    </td>
                                    <td style="min-width: 10%; max-width: 70%">
                                        {{ rec.email }}
                                    </td>
                                    <td style="width: 200px">
                                        {{ rec.date }} <br>
                                    </td>
                                </tr>
                            {% else %}
                                <tr style=" background-color: #cccccc;">
                                    <td> &rarrhk;</td>
                                    <td> {{ rec.descrizione }} </td>
                                    <td></td>
                                    <td> {{ rec.date }} <br></td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </table>
                </div>
            </div>
            <div class="card-footer m-0 p-0 pt-1"></div>
        </div>

        {% if request.user.is_authenticated %}
            <div class="card mb-2 shadow" >
                <form method="post">
                    {% csrf_token %}
                    <div class="card-header text-light m-0 p-0">
                        <p class=" text-center m-0 p-0" style="font-size: 140%;">
                            {% if request.user.is_utente %}
                                Lascia una recensione...
                            {% elif request.user.is_commerciante %}
                                Rispondi alle recensioni...
                            {% endif %}
                        </p>
                    </div>
                    <div class="card-body my-0 py-0 pb-1" >
                        {% if request.user.is_utente %}
                            {% if allow_rec %}
                                {{ user_form|crispy }}
                            {% else %}
                                Per scrivere una recensione, devi prima avere fatto un ordine
                            {% endif %}
                        {% elif request.user.is_commerciante %}
                            {{ dealer_form|crispy }}
                        {% endif %}
                    </div>
                    <div class="card-footer text-center m-0 py-1">
                        <button type="submit" class="btn btn-lg btn-outline-light px-5"> INSERISCI</button>
                    </div>
                </form>
            </div>

        {% endif %}

    </div>
{% endblock %}
</html>
