{% extends "base.html" %}
{% block head %}
    <title>Logged out</title>
{% endblock head %}

{% block body %}
    <div class="container">
        <div class="card text-center">
            <div class="card-header text-light">
                <h1>Disconnesso</h1>
            </div>
            <div class="card-body ">
                <p>Uscita eseguita con successo. Se lo desideri puoi
                    <a href="{% url "accounts:login" %}">loggarti nuovamente</a>.
                </p>
            </div>
            <div class=card-footer></div>
        </div>
    </div>
{% endblock %}
