{% extends "base.html" %}
{% block head %}
    <title>TRUST EAT</title>
{% endblock head %}

{% block body %}
    <div class="container card shadow">
        <div class="card-header text-light text-center">
            <h3>Richiesta di modifica delal password</h3>
        </div>
        {% if validlink %}
            <form method="POST">
                {% csrf_token %}
                <div class="card-body">
                    {{ form.new_password1.errors }}
                    <label for="id_new_password1">Nuova Password:</label>
                    {{ form.new_password1 }}
                    <br>

                    {{ form.new_password2.errors }}
                    <label for="id_new_password2">Conferma Password:</label>
                    {{ form.new_password2 }}
                </div>

                <div class="card-footer">
                    <button type="submit" class="btn btn-lg btn-outline-light">Cambia Password</button>
                </div>
            </form>
        {% else %}
            <div class="card-body text-center">
                <h1>ERRORE!</h1>
                <p> Questo link non è più valido. Per procedere al reset, puoi effettuare una nuova richiesta di cambio
                    password.
                </p>
            </div>
            <div class="card-footer"></div>
        {% endif %}
    </div>
{% endblock body %}
