{% extends "base.html" %}

{% block body %}

    {% if validlink %}
        <form method="POST">
            {% csrf_token %}
            <table>
                <tr>
                    <td>{{ form.new_password1.errors }}
                        <label for="id_new_password1">Nuova Password:</label></td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.errors }}
                        <label for="id_new_password2">Conferma Password:</label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Cambia Password" /></td>
                </tr>
            </table>
        </form>
    {% else %}
        <h1>ERRORE!</h1>
        <p>Questo link non è più valido. Per procedere al reset, puoi effettuare una nuova richiesta di cambio password.</p>
    {% endif %}

{% endblock body %}
