{% extends "base.html" %}
{% load static from staticfiles %}

{% block head %}
    <title> TRUST EAT</title>
{% endblock head %}

{% block body %}
    <div class="container text-center mt-1">
        <img src="{% static 'img/logo-trustEat/_logo1.png' %}" alt="TRUST EAT" width="400px">
        <div class="card mt-4">
            <form method="post">
                <div class="card-header text-light">
                    <h2>Richiesta di modifica della password</h2>
                </div>
                <div class="card-body pt-2">
                    <p>Inserisci la tua mail:</p>
                    {% csrf_token %}
                    {% if form.email.errors %}
                        {{ form.email.errors }}
                    {% endif %}
                    <p>{{ form.email }}</p>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-outline-light btn-lg"> RESET</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
