{% extends "base.html" %}
{% load static from staticfiles %}

{% block head %}
    <title>TRUST EAT</title>
{% endblock head %}

{% block body %}
    <div class="container mt-1">
    <img src="{% static 'img/logo-trustEat/_logo1.png' %}" alt="TRUST EAT" width="400px">
        <div class="card mt-4">
            <div class="card-header text-center text-light">
                <h1>Password cambiata con Successo!</h1>
            </div>
            <div class="card-body text-center">
                <p>Ora puoi procedere eseguendo il <a href="{% url 'login' %}">login</a></p>
            </div>
            <div class="card-footer"></div>
        </div>
    </div>
{% endblock body %}
