{% extends "base.html" %}
{% load static from staticfiles %}

{% block head %}
    <title> TRUST EAT</title>
{% endblock head %}

{% block body %}
    <div class="container mt-1">
        <img src="{% static 'img/logo-trustEat/_logo1.png' %}" alt="TRUST EAT" width="400px">
        <div class="card mt-4">
            <div class="card-header text-center text-light">
                <h2>Richiesta di modifica della password</h2>
            </div>
            <div class="card-body text-center pt-2">
                <p>Inserisci la tua mail:</p>
                <form method="post">
                    {% csrf_token %}
                    {% if form.email.errors %}
                        {{ form.email.errors }}
                    {% endif %}
                    <p>{{ form.email }}</p>
                    <input type="submit" class="btn btn-alert" value="reset"/>
                </form>
            </div>
        </div>
        <div class="card-footer"></div>
    </div>
{% endblock %}
