{% extends "base.html" %}

{% block head %}
    <title> TRUST EAT </title>
{% endblock head %}

{% block body %}
    <div class="container">
        <div class="card shadow">
            <div class="card-header text-center text-light">
                <h2>Richiesta di modifica della password</h2>
            </div>
            <div class="card-body text-center">
                <p>Ti abbiamo inviato via mail le istruzioni per il cambio password!</p>
                <p>Visita la tua casella di posta e segui il link allegato per procedere.</p>
            </div>
            <div class="card-footer"></div>
        </div>
    </div>
{% endblock %}
