{% extends "base.html" %}
{% load static from staticfiles %}

{% block head %}
    <title>TRUST EAT</title>
{% endblock head %}

{% block body %}
    <div class="container mt-1">
        <img src="{% static 'img/logo-trustEat/_logo1.png' %}" alt="TRUST EAT" width="400px">
        <div class="card mt-4">
            <div class="card-header text-center text-light">
                <h2>Richiesta di modifica della password</h2>
            </div>
            <div class="card-body text-center">
                Qualcuno ha richiesto un password reset per l'account associato alla mail {{ email }}.
                Se non hai richiesto alcun cambio password puoi ignorare questa mail.
                Segui il link qua sotto se invece desideri procedere:
                <a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">
                    {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
                </a>
            </div>
        </div>
        <div class="card-footer"></div>
    </div>
{% endblock body %}


