{% extends 'base.html' %}

{% load crispy_forms_filters %}
{% load static from staticfiles %}

{% block body %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/card.css' %}"/>

    <div class="container">
        <div class="card text-center my-1 mx-5 shadow">
            <div class="card-header text-light m-0 p-0">
                <blockquote class="blockquote text-center">
                    <p>Ciao {{ request.user.username }}</p>
                </blockquote>
            </div>

            <form method="post" action="" enctype="multipart/form-data">
                <div class="card-body rounded m-0 px-5 py-1 ">

                    <div class="container px-5">
                        <div class="card-text px-5" style="color: #212529">
                            {% csrf_token %}
                            {{ form|crispy }}
                        </div>
                    </div>
                </div>

                <div class="card-footer rounded-0 m-0 py-2">
                    <button type="submit" class="btn btn-danger">
                        Modifica
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}