{% extends "base.html" %}
{% load static from staticfiles %}
{% load crispy_forms_tags %}
{% block head %}
    <title>TRUST EAT</title>
{% endblock %}

{% block body %}
    <h2 style="text-align: center"> Registrati su: </h2>
    <div class=" text-center">
        <img src="{% static 'img/logo-trustEat/_logo1.png' %}" width="400px" alt="TRUST EAT">
    </div>
    <div class="card text-center my-1 mx-lg-5 shadow">
        <div class="card-header text-light m-0 p-0 pt-3">
            {% block content1 %}
            {% endblock %}
        </div>
        <form method="post">
            <div class="card-body rounded m-0 px-lg-5 py-1">
                <div class="container px-lg-5">
                    <div class="card-text px-lg-5" style="color: #212529">
                        {% csrf_token %}
                        {{ form|crispy }}
                    </div>
                </div>
            </div>
            <div class="card-footer rounded-0 m-0 py-2">
                <button type="submit" class="btn btn-light btn-lg ">
                    Crea un account
                </button>
            </div>
        </form>
    </div>
{% endblock %}
