{% extends 'account/registrazione.html' %}

{% block content1 %}
    <div class="float-center mb-3">
        <a style="text-decoration: none" href="{% url "social:begin" "facebook" %}" class="ml-1 btn-lg btn-light" role="button"
           aria-disabled="true">
            Accedi con Facebook
        </a>
        <a style="text-decoration: none" href="{% url "social:begin" "google-oauth2" %}" class="ml-1 btn-lg btn-light " role="button"
           aria-disabled="true">
            Accedi con Google
        </a>
        <div class="float-right mb-3 mr-2">
            <a style="margin-right: auto; text-decoration: none"
               href="{% url "accounts:registrazione_commerciante" %}"
               class="ml-1 btn-lg btn-outline-light lg" role="button" aria-disabled="true">
                Sei un commerciante?
            </a>
        </div>
    </div>
{% endblock content1 %}