{% extends "base.html" %}
{% load static from staticfiles %}
{% load crispy_forms_tags %}

{% block body %}
    <div class="row mt-5 ">
        <div class="pt-4 pl-3 ml-2">
            <h5>Inserisci i seguenti dati per continuare la registrazione su: </h5>
        </div>
        <div class="text-center">
            <img src="{% static 'img/logo-trustEat/_logo.png' %}" alt="TRUST EAT" width="300">
        </div>
    </div>
    {% block content1 %}
    {% endblock content1 %}

    <form method="post" novalidate>
        {% csrf_token %}
        {{ form|crispy }}
        <br>
        <button type="submit" class="btn btn-success">Crea un account</button>
    </form>
{% endblock body %}
