{% extends 'base.html' %}
{% load static from staticfiles %}
{% load crispy_forms_tags %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/localList.css' %}">
    <title>{{ request.user }}</title>
{% endblock %}
{% block body %}



    <div class="card mb-1 container-fluid border-0">
        <img class="card-img-top mx-5 px-5 container" style="max-height: 200px; object-fit: scale-down"
             src="{% static 'img/logo-trustEat/_logo1.png' %}"
             alt="TRUST EAT">
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-5 ">
                <div class="alert alert-danger mx-0 px-0 container-fluid shadow" role="alert" style="max-height: 60px">
                    <h2 class="card-title text-center m-0 p-0 pb-1"> BUON APPETITO!</h2>
                </div>
                {# ------------------------ RICERCA ------------------------ #}
                <form action="" method="get" class="mb-3">
                    {{ SearchForm|crispy }}
                    <div class="text-center">
                        <button class="btn btn-md btn-danger rounded-0 mr-5 shadow" type="submit"
                                style="width: 140px">
                            CERCA
                        </button>
                        <a href=" {% url 'search:index' %}">
                            <button class="btn btn-md btn-outline-primary rounded-0 ml-5 shadow" type="button"
                                    style="width: 140px">
                                CANCELLA
                            </button>
                        </a>
                    </div>
                </form>
            </div>
            <div class="col-xl-7 mt-1 ">
                {#-------------------------------Start LISTA LOCALI ------------------------------------------------------#}
                <div class="card container mb-2 pb-3 mx-0 px-0 rounded align-content-center text-center shadow"
                     style="background-color: #d5d5d5; max-height: 400px; ">
                    <div class="card-body align-content-center">
                        {% if location_len > 1 %}
                            <h5 class="card-title pb-0 bg-secondary text-light rounded shadow"
                                style="border: solid 2px #505050">LOCALI PER TE A: {{ location | upper }}</h5>
                        {% else %}
                            <h5 class="card-title pb-0 bg-secondary text-light rounded shadow"
                                style="border: solid 2px #505050">LOCALI PER TE</h5>
                        {% endif %}
                        {#                    <p class="card-text"> </p>#}
                    </div>
                    <ul class="list-group list-group-flush" style="overflow-y:auto">
                        {% for local in locals %}
                            <a href="{% url 'localManagement:localLists' local.local.pk %}">
                                <div class="list-group-item border-0 my-0 py-0 mb-1" style="background-color: #d5d5d5">
                                    <div class="card m-0 p-0 rounded border-secondary shadow">

                                        {% if local.foto %}
                                            <img class="card-img-top" id="id_{{ local.foto }}"
                                                 style="min-height: 30px; max-height: 150px; object-fit: cover"
                                                 src="{{ local.foto }}" alt=" ">
                                        {% else %}
                                            <br>
                                        {% endif %}


                                        <div class="card-img-overlay">
                                            <h5 class="card-title text-light rounded"
                                                style=" background-color: rgba(0,0,0,0.5)">
                                                {{ local.local.nome_locale | upper }}</h5>
                                        </div>
                                        <div class="card-body m-0 p-0">
                                            {# ------------------ SCRIPT !!!!!----------------------------        #}
                                            <script>
                                                if (!"{{ local.foto }}".length)
                                                    document.writeln("<br>");
                                            </script>

                                            <a class="card-title my-0 link-disabled">{{ local.local.descrizione }}</a>
                                            <p class="card-text ">
                                                {# ------------------ SCRIPT !!!!!----------------------------        #}
                                                {% if local.n_rec > 1 %}
                                                    <small class="text-muted link-disabled" id="id_rec_{{ local }}">
                                                        VOTO: <b>{{ local.voto }}</b> SU {{ local.n_rec }} RECENSIONI
                                                    </small>
                                                {% elif local.n_rec == 1 %}
                                                    <small class="text-muted link-disabled" id="id_rec_{{ local }}">
                                                        VOTO: <b>{{ local.voto }}</b>SOLO UNA RECENSIONE
                                                    </small>
                                                {% else %}
                                                    <small class="text-muted link-disabled" id="id_rec_{{ local }}">
                                                        NESSUNA RECENSIONE
                                                    </small>
                                                {% endif %}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        {% endfor %}
                    </ul>
                    {# ------------------------------ End LISTA LOCALI -------------------------------------------------------#}
                </div>
            </div>
        </div>
    </div>



{% endblock %}
