div.desc {
    color: GrayText;
    left: 25px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    text-align: left;
}

input.numberinput, input.form-control {
    width: 60px;
    height: 51px;
}