#cc {
    border-radius: 4px;
    border: 2px solid #609;
    padding: 17px;
    width: 60%;
    height: 15px;
}

#intest {
    border-radius: 4px;
    border: 2px solid #609;
    padding: 17px;
    width: 60%;
    height: 15px;
}

#scad {
    border-radius: 4px;
    border: 2px solid #609;
    padding: 17px;
    width: 13%;
    height: 15px;
}