<!DOCTYPE html>
{% load static from staticfiles %}
<html>
<head>
    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css' %}">

    <meta charset="utf-8">
    <link rel="icon" href="{% static 'img/logo-trustEat/_logo.ico' %} "/>
    {% block head %}
    {% endblock head %}
</head>
<body>
<div>
    {% block navbar %}
        <nav class="rounded-bottom navbar navbar-expand-lg text-warning mx-1 mt-0 pt-0 shadow"
             style="background-color: #a01b2a; max-height: 55px;  z-index: 20">
            <a class="navbar-brand" style=" max-height: 55px" href="/">
                <img src="{% static 'img/logo-trustEat/_logo.png' %}" class="1d-inline-block align-top "
                     style="object-fit: fill; max-height: 45px" alt="">
            </a>
            <button class="navbar-toggler bg-dark" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse rounded-bottom pl-2" id="navbarSupportedContent"
                 style="background-color: #a01b2a;">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link text-warning" href="{% url 'localManagement:index' %}">
                            Lista Locali<span class="sr-only">(current)</span></a>
                    </li>
                    {% if request.user.is_anonymous %}
                        <li class="nav-item active">
                            <a class="nav-link text-warning" href="{% url 'accounts:registrazione_utente' %}">Registrazione
                                <span
                                        class="sr-only">(current)</span></a>
                        </li>
                    {% endif %}
                    {% if not request.user.is_anonymous %}
                        <li class="nav-item active">
                            <a class="nav-link text-warning" href="{% url 'accounts:area_utente' %}">Area Utente
                                <span
                                        class="sr-only">(current)</span></a>
                        </li>
                    {% endif %}
                    {% if request.user.is_superuser %}
                        <li class="nav-item active">
                            <a class="nav-link text-warning" href="/admin">Pagina Admin<span
                                    class="sr-only">(current)</span></a>
                        </li>
                    {% endif %}
                    {% if request.user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link text-warning" href="{% url 'accounts:logout' %}">Esci</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link text-warning" href="{% url 'accounts:login' %}">Accedi</a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link text-warning" href="{% url 'contatti' %}">Contattaci</a>
                    </li>
                </ul>
            </div>
        </nav>
    {% endblock %}
</div>

{% block body %}
{% endblock body %}


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

</body>
</html>
