<!DOCTYPE html>
{% load static from staticfiles %}
<html>
<head>
    <meta charset="utf-8">
    <link rel="icon" href="{% static 'img/logo-trustEat/_logo.ico' %} "/>
     <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/style5.css' %}">
    <link rel="stylesheet" href="{% static 'css/localList.css' %}">
    <link rel="stylesheet" href="{% static 'css/card.css' %}">

    {% block head %}
    {% endblock head %}

</head>
<body>
{% block navbar %}
{% endblock navbar %}
<nav class="rounded-bottom navbar navbar-expand-lg text-warning mr-3 mt-0 pt-0 shadow"
     style="background-color: #a01b2a; max-height: 55px;  z-index: 20">
    <a class="navbar-brand" style=" max-height: 55px" href="/">
        <img src="{% static 'img/logo-trustEat/_logo.png' %}" class="1d-inline-block align-top "
             style="object-fit: fill; max-height: 45px" alt="TRUST EAT">
    </a>
    <button class="navbar-toggler bg-warning shadow" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon">&boxH; </span>
    </button>
    <div class="collapse navbar-collapse rounded-bottom pl-2" id="navbarSupportedContent"
         style="background-color: #a01b2a;">
        <ul class="navbar-nav mr-auto">
            {% if request.user.is_superuser %}
                <li class="nav-item active">
                    <a class="nav-link text-warning" href="/admin">Pagina Admin
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
            {% endif %}
            {% if request.user.is_authenticated %}
                <li class="nav-item active">
                    <a class="nav-link text-warning" href="{% url 'accounts:area_utente' %}">Area Utente
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-warning" href="{% url 'accounts:logout' %}">Esci</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link text-warning" href="{% url 'accounts:login' %}">Accedi</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link text-warning" href="{% url 'accounts:registrazione_utente' %}">Registrazione
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link text-warning ml-lg-4" href="{% url 'contatti' %}">Contattaci</a>
            </li>
        </ul>
    </div>
</nav>


<!-- jQuery CDN - Slim version (=without AJAX) -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<!-- Popper.JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
        integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        crossorigin="anonymous"></script>
<!-- Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
        integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        crossorigin="anonymous"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('active');
            $(this).toggleClass('active');
        });
    });
</script>

{% block body %}
{% endblock body %}

<!-- Font Awesome JS -->
<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js"
        integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ"
        crossorigin="anonymous"></script>
<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js"
        integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY"
        crossorigin="anonymous"></script>
</body>
</html>
